#tribe-events-pg-template { width: 940px; max-width: 940px; }
p.tribe-events-promo { display: none; }
#tribe-events-content { margin-bottom: 0; display: block; clear:both; }
.tribe-events-after-html { margin-top: 0px; }
.tribe-events-before-html { margin-bottom: 0px; }

ul.tribe-events-sub-nav li a { color:#fff; display: inline-block; background: #333; padding:10px 20px; font-weight: normal; font-size: 11px; text-transform: uppercase; margin-top: 0; letter-spacing: 0.5px; border-radius: 3px; }
ul.tribe-events-sub-nav li a:hover { color:#fff; }

h2.tribe-events-page-title { font-weight: normal; }
#tribe-events-content .tribe-events-calendar td { border-color:#ddd; }
.tribe-events-calendar thead th { border-color: rgba(255,255,255,0.1);}

/*Hover calendar tooltip*/
.recurring-info-tooltip, .tribe-events-calendar .tribe-events-tooltip, .tribe-events-week .tribe-events-tooltip { z-index: 9999; }
#tribe-events-content .tribe-events-tooltip h4 { font-size: 16px; line-height: normal;  }
.tribe-events-tooltip .tribe-events-event-body {  font-size: 100%;  }
.tribe-events-tooltip .tribe-events-event-body .tribe-event-duration {  font-size: 90%; padding:0 0 15px 0; margin: 0 0 10px 0; }
.recurring-info-tooltip, .tribe-events-calendar .tribe-events-tooltip, .tribe-events-week .tribe-events-tooltip { padding:20px 20px 10px 20px; }
.tribe-events-tooltip .tribe-events-event-body .tribe-event-description p { line-height: 20px; font-size: 95%; }
.tribe-events-tooltip .tribe-events-event-body .tribe-event-duration {border-bottom: 1px solid #e6e6e6; }

/*View As*/
#tribe-bar-form { background: none; }
#tribe-bar-form #tribe-bar-views + .tribe-bar-filters { right: auto; left: 0; width: 100%; }
#tribe-bar-form #tribe-bar-views { left: 0;	right: auto; width: auto; padding:0; background: transparent;	margin: 0; }
#tribe-bar-views:hover, #tribe-bar-views label:hover { cursor:pointer;  }
.tribe-bar-views-inner { padding:0; background:none; height:20px; line-height: 20px;padding-bottom: 40px;  }
#tribe-bar-form .tribe-bar-views-inner label { padding: 0; font-size:14px; margin:0 20px 0 0; width:auto; display: inline; float:left; line-height: 20px;height:20px; vertical-align:text-top;  }
#tribe-bar-form .tribe-bar-views-inner label:after { content:':'; }
.tribe-bar-views-inner .select2-container { padding: 0; }
.tribe-select2-results-views.select2-drop {	background: none; }
#tribe-bar-form.tribe-bar-mini #tribe-bar-views { width:auto; }
#tribe-bar-views ul.tribe-bar-views-list { padding: 0; position: relative; border: 0; width:auto; display: inline-block; vertical-align: text-top; font-size: 14px; }
#tribe-bar-views ul.tribe-bar-views-list li a span { background: none; }
#tribe-bar-views ul.tribe-bar-views-list li a span:before { font-family: fontAwesome; padding:0 3px 0 0;}
span.tribe-icon-upcoming:before,
span.tribe-icon-list:before { content:'\f0ca'; }
span.tribe-icon-month:before { content:'\f073'; }
span.tribe-icon-week:before { content:'\f073'; }
span.tribe-icon-day:before { content:'\f073'; }
span.tribe-icon-map:before { content:'\f041'; }
span.tribe-icon-photo:before { content:'\f03e'; }
.tribe-select2-results-views span[class^="tribe-icon-"], .tribe-bar-views-list span[class^="tribe-icon-"], .tribe-bar-view-list a[class*="tribe-icon-"] { padding-left:0; }
#tribe-bar-views li.tribe-bar-views-option { padding: 0; display: inline-block; line-height: 20px; }
#tribe-bar-views .tribe-bar-views-option:first-child, #tribe-bar-views .tribe-bar-views-option.tribe-bar-active,
#tribe-bar-views.tribe-bar-views-open .tribe-bar-views-option { display: inline-block; }

#tribe-bar-form.tribe-bar-mini * { font-size: 14px; }
#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a,
.tribe-bar-mini #tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a { padding: 0 20px 0 0 ; background: none; height:20px; line-height: 20px; font-size: 14px;}
#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a:hover { background:none; }
#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option.tribe-bar-active a:hover { background:none; }
#tribe-bar-views .tribe-bar-views-option:last-child  a { border: 0;  }
#tribe-bar-form .tribe-bar-filters .tribe-bar-submit { float:left; width:26%; margin:22px 0 0 0; padding:0;}
#tribe-bar-form .tribe-bar-filters .tribe-bar-submit input[type=submit] { border-radius: 3px; padding:10px; line-height: 16px; border:1px solid; }
.tribe-bar-filters .tribe-bar-date-filter,.tribe-bar-filters .tribe-bar-search-filter { width:34%; margin-right: 2.5%; padding:0; }
#tribe-bar-form .tribe-bar-filters input[type="text"],.tribe-bar-disabled #tribe-bar-form .tribe-bar-filters input[type="text"] { border:1px solid #e1e1e1; background: #fff; border-radius: 3px; overflow:hidden; font-size: 12px; padding:10px; width:100%; line-height: 16px; }
#tribe-bar-form .tribe-bar-filters-inner label { font-size: 12px; padding-bottom: 5px; display: block;}
#tribe-bar-form .tribe-bar-filters input[type="text"]:focus { border-color: #bbb; }

.tribe-bar-filters-inner { background: #ededed; border-bottom: 1px solid rgba(0,0,0,0.1); padding:25px; border-radius: 3px; overflow: hidden; }
#tribe-bar-form.tribe-bar-collapse #tribe-bar-views,.tribe-bar-collapse #tribe-bar-collapse-toggle { width:100%; float:none; display: block;}

/* small size toggle menu */
.tribe-bar-collapse #tribe-bar-collapse-toggle { width:100%; border-bottom: 1px solid #ececec; padding:10px 20px;   }
#tribe-bar-form.tribe-bar-collapse .tribe-bar-views-inner label { margin-right: 20px; }
#tribe-bar-form.tribe-bar-collapse #tribe-bar-views { width:100%;  }
#tribe-bar-form.tribe-bar-collapse .tribe-bar-views-inner { padding:25px 0 0 0; }
#tribe-bar-form.tribe-bar-collapse .tribe-bar-filters-inner { margin-top: 20px; }
#tribe-bar-form.tribe-bar-collapse .tribe-bar-date-filter input[type="text"] { margin-bottom: 20px; }
#tribe-bar-form.tribe-bar-collapse { padding:20px; background: #ededed; border-bottom: 1px solid #ececec; border-radius: 3px; overflow: hidden; }
#tribe-bar-form.tribe-bar-collapse .tribe-bar-filters-inner { padding:25px 0 0 0; border:0; border-top: 1px solid #ececec; }

/* List view */
.events-list .tribe-events-loop { max-width: 100%; }
.tribe-events-list .vevent.hentry { border:1px solid #fff; border-radius:3px; padding:0px; margin-bottom:50px; display: block; }
a.tribe-events-read-more i { margin-left: 2px; font-size: 10px; }
.events-list #tribe-events-footer,.tribe-events-day #tribe-events-footer { border:0; padding:0; margin:0; width:100%; float:left; }
.tribe-events-list .vevent.hentry.tribe-event-end-month { padding: 25px; }
.tribe-events-list-separator-month:after { border-bottom: 0; }
.tribe-events-list-separator-month { padding:10px 30px; background: #fff; width:100%; margin-top: -2px; }
.tribe-events-list-separator-month span { background: none;}
.tribe-events-list .vevent.hentry.tribe-event-end-month { border-bottom: 1px solid #fff;padding:0px; }
.tribe-events-list-separator-month,.tribe-events-day .tribe-events-day-time-slot h5 { margin-bottom: 20px; font-size: 18px; font-weight: bold; text-transform: uppercase;  }
.tribe-events-day .tribe-events-day-time-slot h5 { display: none;  }

.swm_evt_meta_venue .tribe-events-abbr span.seperator { display: none;  }
.swm_evt_meta_venue .tribe-events-abbr:after { content:"."; }

.swm-tribe-event-list { width:50%; float:left;}
.swm-tribe-event-list.block-right { padding-left: 25px; }
.swm-tribe-event-list-img { width:50%; float:left; padding-right: 25px; display: inline-block; }
.swm-tribe-event-list-img img,.tribe-events-list .tribe-events-event-image { width:100%; border-radius: 3px; overflow: hidden;  }
.swm-tribe-event-list-meta { width:50%; float:left;  display: inline-block;}
.tribe-events-list .time-details, .tribe-events-list .tribe-events-venue-details { font-weight: normal; }
.updated.published.time-details { border-bottom: 1px solid #ececec; padding-bottom: 10px; }
.tribe-events-venue-details span.author.fn.org { display: block; border-bottom: 1px solid #ececec; padding-bottom: 10px; }

.swm_event_single_meta_row .tribe-events-meta-group-venue dd.location { border:0; padding-top: 0; margin-top: -5px;  }
.swm_event_single_meta_row .tribe-events-meta-group-venue dd.location address { display: inline; margin-right: 10px; }

.tribe-events-list-event-description { margin-top: 5px; }
.swm-tribe-event-list-meta { font-size: 12px; }
.swm-tribe-event-list-meta ul { margin:0; border:1px solid #ececec; border-radius: 3px; overflow: hidden; }
.swm_container .swm-tribe-event-list-meta ul li { border-bottom: 1px solid #ececec; padding:10px 10px 10px 35px; line-height: 18px; display: block; margin-left: 0;  }
.swm_container .swm-tribe-event-list-meta ul li:first-child { }
.swm_container .swm-tribe-event-list-meta ul li:last-child { border:0; }

.swm-tribe-event-list-meta.swm_event_meta_full { width:100%; }
.tribe-events-list .vevent.hentry h2,.tribe-events-list .type-tribe_events h2 { font-size: 18px; font-weight: bold; }
.tribe-events-list .vevent.hentry h2 a,.tribe-events-list .type-tribe_events h2 a { color:#333; }
h2.tribe-events-page-title { font-size: 20px; text-transform: uppercase; font-weight: bold; text-align: left; }

.swm-tribe-event-list-meta ul li.swm_event_list_website label { display: none; }
.swm-tribe-event-list-meta ul li a.tribe-events-gmap { display: none; }

.swm-tribe-event-list-meta ul:hover li:before { color:#000; }
.swm-tribe-event-list-meta ul li:before { font-family: fontAwesome; font-size: 14px; margin-left: -25px; float:left; color:#aaa;  }
.swm-tribe-event-list-meta ul li.swm_event_list_date:before { content:'\f017';}
.swm-tribe-event-list-meta ul li.swm_event_list_venue:before { content:'\f124';}
.swm-tribe-event-list-meta ul li.swm_event_list_location:before { content:'\f041';}
.swm-tribe-event-list-meta ul li.swm_event_list_website:before { content:'\f0c1';}

.swm-tribe-event-list-meta ul li.swm_event_list_website { word-wrap:break-word;}

.swm-tribe-event-list-meta ul li.swm_event_list_location span.postal-code {  display: none; }

.tribe-events-list .tribe-events-event-cost span { font-weight: bold; border-radius: 3px; background: #ededed; border:0; border-bottom: 1px solid rgba(0,0,0,0.1); }
.tribe-events-day .tribe-events-day-time-slot .vevent { margin-left:0; }

#tribe-events .tribe-events-button { background-color: #e8e8e8; color:#606060;  }
.swm-tribe-event-list .swm-tribe-event-list-meta ul li span.adr span.country-name { display: none; }
.tribe-events-list-separator-month { display: none; }

#tribe-events a.tribe-events-ical.tribe-events-button { display: none; }
.tribe-events-user-recurrence-toggle { text-align: left; }
.tribe-events-user-recurrence-toggle label { font-weight: normal; font-style: normal; }
.tribe-events-list-separator-month+.vevent.hentry.tribe-events-first { padding-top: 0; }

/* Event Single */

.swm_te_single_title h2 { line-height: normal; width:100%; font-weight: bold; margin-bottom: 15px; }
.swm_te_single_image img { border-radius: 3px; overflow: hidden; margin:0 0 30px 0;  display: block;  }

.swm_te_single_meta { background: #ededed; border-bottom: 1px solid rgba(0,0,0,0.1); border-radius: 3px; overflow: hidden;  margin-bottom: 5px; width: 100%; }
.swm_te_single_meta ul { padding:0; margin:0; }
.swm_te_single_meta ul li { margin:0; padding:0; width:auto; float:left; list-style: none; }
.swm_te_single_meta ul li .swm_column_gap { padding:20px 25px; margin: 0; position: relative; }
.swm_te_single_meta ul li p { margin: 0 0 0 47px; float:left; display: block; font-size: 16px; font-weight: bold; width:auto;  }
.swm_te_single_meta ul li p span { display: block; font-size: 13px; font-weight: normal; color:#888; }
.swm_te_single_meta ul li span.event_bar_icon {  float:left; display: block; width:47px; position: absolute;  }
.swm_te_single_meta ul li span.event_bar_icon i { font-size: 36px; color:#bbb; width:auto; padding-top: 4px; }
.swm_te_single_meta ul li p.venuefix {  margin-left: 37px;  }

.swm_te_single_title_meta_section span.swm_te_single_title_cost { float:right; margin:-5px -8px 0 0; padding:5px 15px; background: #ccc; display: inline-block; width:auto; border-radius: 3px; color:#fff;  }

.swm_event_single_meta_row.swm_row { margin: 0 -3px; }
.swm_event_single_meta_row.swm_row .swm_column3 { float:left; }
.swm_event_single_meta_row .swm_column3 .swm_column_gap { padding: 0 3px 6px 3px; margin-bottom:0; }

.tribe-events-meta-group .tribe-events-single-section-title,.te_venue_map_title { background: #ececec; font-size: 14px; font-weight: bold; padding:13px 20px; border-bottom: 1px solid rgba(0,0,0,0.1); border-radius: 3px; margin-bottom: 6px;  text-transform: uppercase; text-align: center; position: relative; }

.swm_event_single_meta_row dl,.tribe-events-meta-group.tribe-events-meta-group-other dl { border:1px solid #ececec; border-radius: 3px; padding:10px 20px; min-height: 200px; margin-bottom:0; }
.swm_event_single_meta_row dt,.tribe-events-meta-group.tribe-events-meta-group-other dt { width:80px; padding-top: 10px; }
.swm_event_single_meta_row dd,.tribe-events-meta-group.tribe-events-meta-group-other dd { margin-left: 0; border-top: 1px solid #ececec; padding:10px 0;  }

.swm_event_single_meta_row dd.tribe-events-date,.swm_event_single_meta_row dd.fn.org,.tribe-events-meta-group.tribe-events-meta-group-other { border:0; }
.swm_event_single_meta_row dd.fn.org { font-size:14px; font-weight: bold; }

.single-tribe_events .tribe-events-venue-map { width:100%; padding:0; margin:0; border:0;  }

.single-tribe_events #tribe-events-footer { border:0; }
.tribe-events-meta-group.tribe-events-meta-group-other dl dd:nth-child(2) { border:0; }
.tribe-events-grid .tribe-grid-header .tribe-grid-content-wrap .column { border-color: rgba(255,255,255,0.1); }


/*Sidebar-Footer widget*/

ol.hfeed.vcalendar { margin:0 0 20px 0; padding:0; }
ol.hfeed.vcalendar li { margin: 0; border-bottom: 1px solid #ececec; padding:10px 0; font-size: 11px; }
ol.hfeed.vcalendar li:first-child { padding-top: 0; }
ol.hfeed.vcalendar li span { font-weight: normal; color:#888; }
ol.hfeed.vcalendar h4 { margin:0; padding:0; font-weight: bold; font-size: 14px;  }
p.tribe-events-widget-link { margin:0; }
.tribe-events-list-widget .tribe-events-widget-link a { font-size: 13px; }
.tribe-events-list-widget .tribe-events-widget-link a:after { content:'\f105'; font-family: fontAwesome; font-size: 14px; margin-left:7px;}


/* PRO */
#tribe-bar-form .tribe-bar-filters-inner { margin: 0 auto; }
.tribe-bar-disabled #tribe-bar-form #tribe-bar-views+.tribe-bar-filters { clear:both;  margin:0 auto; right:auto; width:100%; margin-top: 20px; }
.tribe-bar-disabled #tribe-bar-form #tribe-bar-views { clear:both; margin:0 auto; left:0;  }
.tribe-bar-disabled { margin:0 auto; float:none;  }
.events-list.tribe-bar-is-disabled #tribe-events-content-wrapper { max-width: 100%; }
.tribe-bar-disabled #tribe-bar-form #tribe-bar-views { width:100%; }
.tribe-bar-disabled #tribe-bar-form .tribe-bar-views-inner label { padding-top: 5px; }
.tribe-bar-geoloc-filter { padding:0; width:27%;  }

.tribe-events-list .tribe-events-photo-event .tribe-events-event-details { border:1px solid #ececec; border-radius: 3px; margin:5px 0 0 0; text-align: center; padding:10px 20px 20px 20px;  }

.tribe-events-list #tribe-events-photo-events .tribe-events-event-details h2 { font-size: 18px; }
.tribe-events-list #tribe-events-photo-events .updated.published.time-details { color:#999; font-size: 11px; padding:5px 20px 15px 20px; margin:0 -20px 20px -20px;  }

body.tribe-events-photo #tribe-events-photo-events {  margin:0 -7px;  }
#tribe-events-photo-events .vevent.tribe-events-photo-event {  width:33.33333333333333%; margin:0; }
#tribe-events-photo-events .vevent.tribe-events-photo-event .tribe-events-photo-event-wrap { padding:0 7px; margin: 0 0 17px 0; }
.tribe-events-photo #tribe-events-footer { border:0; }




/* Responsive ---------------------------------------------------------------------- */

@media (min-width: 1200px) {     
     #tribe-events-pg-template,.tribe-events-day .tribe-events-loop { width: 1100px;max-width: 1100px; } 
}

@media only screen and (min-width: 768px) and (max-width: 979px) {  
    #tribe-events-pg-template { width: 689px;max-width: 689px; } 
     /*pro*/
    .tribe-bar-geoloc-filter { padding-top: 20px; }
    #tribe-events-photo-events .vevent.tribe-events-photo-event {  width:49.5%; margin:0; }
}

@media only screen and (max-width: 767px) { 
 
    #tribe-events-pg-template { width: 301px;max-width: 301px; padding:0; }
    #tribe-bar-form .tribe-bar-filters .tribe-bar-submit { width: 100%; }
	ul.tribe-events-sub-nav li a { color:#fff; display: inline-block; background: #333; padding:10px 20px; font-weight: normal; font-size: 12px; text-transform: uppercase; margin: 10px 0; }    
    .swm-tribe-event-list,.swm-tribe-event-list-img,.swm-tribe-event-list-meta { width:100%; float:none;}
    .swm-tribe-event-list-img { padding-right: 0; margin-bottom: 30px; }
    .swm-tribe-event-list.block-left { padding-bottom: 30px; }
    .swm-tribe-event-list.block-right { padding-left:0; width:100%; }
    .events-list .tribe-events-event-cost { display: block; float:none; width:auto; margin:10px 0 0 0; padding:0; }
    .events-list .tribe-events-event-cost span { width:auto; display: block; float:left; margin-bottom: 10px; }
    .swm_te_single_meta_table table.swm_te_single_do_table tr td { width:100%; display: block; border:1px solid #e1e1e1; }
    .swm_te_single_title_meta_section span { display: block; clear:both; }
    .swm_te_single_title_meta_section span.swm_te_single_title_cost { float:none; margin:10px 0 0 0; display: inline-block; width:auto; }
    .swm_te_single_venue_table .swm_te_vt_left,.swm_te_single_venue_table .swm_te_vt_right { float:none; width:100%; }
    .tribe-events-list .vevent.hentry,.tribe-events-list .vevent.hentry.tribe-event-end-month { border-bottom: 1px solid #ececec; padding-bottom: 30px; }

    /*pro*/
    .tribe-bar-geoloc-filter { padding-top: 20px; }
    #tribe-bar-form.tribe-bar-collapse .tribe-bar-views-inner label { margin-bottom: 10px; }
    #tribe-events-photo-events .vevent.tribe-events-photo-event {  width:100%; margin:0; padding:0; }
    #tribe-events-photo-events .vevent.tribe-events-photo-event, #tribe-events-photo-events.photo-two-col .vevent.tribe-events-photo-event { max-width: 100%; }
    #tribe-events-photo-events .vevent.tribe-events-photo-event .tribe-events-photo-event-wrap { padding:0; margin:0; }
    body.tribe-events-photo #tribe-events-photo-events {  margin:0;  }

}

@media only screen and (min-width: 480px) and (max-width: 767px) {
	#tribe-events-pg-template { width: 461px; max-width: 461px;  }   
    .swm-tribe-event-list-img { width:50%; float:left;}
    .swm-tribe-event-list-meta { width:50%; float:right;}
    .swm-tribe-event-list-img { padding-right: 25px; margin-bottom:0; }   
}


/*Version 4.0 issue fix*/
.swm_event_single_meta_row dd.swm_event_details_date_top { border:0; }
.single-tribe_events .type-tribe_events {border-bottom:0; margin: 0; padding:0; }
.single-tribe_events .tribe-events-event-image { margin:0; }
.single-tribe_events .tribe-events-event-cost { float:none; display: block; }
.tribe-events-event-cost { display: inline-block; }
h2.tribe-events-list-event-title.summary { display: inline-block; }
.tribe-events-list .type-tribe_events:first-of-type { margin-top:0; }
.tribe-events-list h2.tribe-events-page-title { margin-bottom:0; }
.tribe-events-list .tribe-events-loop .tribe-events-event-image { width:100%; }
/*.tribe-events-list-separator-month + .type-tribe_events.tribe-events-first,.tribe-events-list .type-tribe_events { padding:0; float:left; display: inline-block; }
.events-list .tribe-events-loop { margin-right: -40px; }
.tribe-events-day .tribe-events-day-time-slot .type-tribe_events { margin-left: 0; }*/

